<li class="relative flex gap-x-4 place-content-center" *ngFor="let comment of listComments">
    <div class="flex-auto rounded-md p-3 ring-1 ring-inset ring-gray-200">
      <div class="flex justify-between gap-x-4">
        <div class="py-0.5 text-xs leading-5 text-gray-500"><span class="font-medium text-gray-900">{{comment.name}}</span></div>
        <p class="flex-none py-0.5 text-xs leading-5 text-gray-500">{{comment.id}}</p>
    </div>
    <p class="text-sm leading-6 text-gray-500">{{comment.body}}</p>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded" (click)="deleteComment(comment.id)"> X </button>
    <button class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded" (click)="moveComment()"> ⇧ </button>
    <button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded" (click)="mayorAmenor()"> > </button>
    <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 m-1 rounded" (click)="menorAmayor()"> < </button>
    </div>
  </li>
