<li class="relative flex gap-x-4 place-content-center">
    <div class="flex-auto rounded-md p-3 ring-1 ring-inset ring-gray-200">
        <div class="flex justify-between gap-x-4">
            <div class="py-0.5 text-xs leading-5 text-gray-500"><span
                    class="font-medium text-gray-900">{{post.title}}</span></div>
        </div>
        <p class="text-sm leading-6 text-gray-500">{{post.body}}</p>
         
      <app-buttons [iconLeft]="'Comentarios'" [iconRight]="'Delete'" (onRight)="deletePostEmiter.emit(post.id)" (onLeft)="showCommentEmiter.emit(post.id)"></app-buttons>
    </div>
  
</li>